* {
  margin: 0;
  padding: 0;
}

.custom-nav {
  font-family: "Roboto", sans-serif;
  padding-left: 7rem !important;
  padding-right: 7rem !important;
}

.logo a {
  font-size: 1.7rem !important;
  font-weight: 700 !important;
}

.logo span {
  color: #71c55d !important;
}

a:hover {
  color: #71c55d !important;
  font-weight: bold;
}

.top-content {
  padding-top: 8rem !important;
  font-family: "Open Sans", sans-serif;
}

.section-title h2 {
  font-weight: 300;
}

.section-title p {
  font-size: 0.9rem;
  font-weight: 700;
}

.card-content {
  margin-top: 4rem;
}

.img-card {
  height: 3.5rem;
}

.img-card img {
  height: 100%;
}

.card-content h4 {
  margin-top: 1.9rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.card-content p {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.card-content a {
  margin-top: 1rem;
  text-decoration: none;
  color: #685d5de8;
  font-size: 0.8rem;
  font-weight: 400;
}

.main-content {
  font-family: "Roboto", sans-serif;
  margin-top: 10rem;
}

.left-content {
  height: 34rem;
}

.left-content img {
  height: 100%;
}

.right-content {
  padding-top: 3rem;
  padding-left: 1rem;
}

.right-content span {
  font-weight: 300;
}

.right-content p {
  font-size: 0.75rem;
  font-weight: 200;
  line-height: 1.4rem;
}

.right-content li {
  color: #685d5de8;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0.9rem 0;
}

.footer {
  margin-top: 8rem;
  padding-top: 2rem;
  background-color: rgb(36, 34, 34);
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.footer-left a {
  font-family: "Philosopher", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer-left p {
  font-size: 0.7rem;
}

.list-menu h4 {
  padding-top: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.list-menu a {
  font-size: 0.7rem;
  text-transform: capitalize;
}

.copyrights {
  padding: 1.3rem 0;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 0.8rem;
}

.copyrights p {
  margin: 0;
}

.credits a {
  margin: 0;
  color: #71c55d;
}
